<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %> no-outline" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header_custom' %>
    <%= render partial: 'spree/shared/search_new' %>
    <%= render partial: 'spree/shared/advertisement_top'%>


    <!--<%= render partial: 'spree/shared/main_image' %>-->

    <!--<%= render partial: 'spree/shared/search_bar'%>-->


    <!--<%= render partial: 'spree/shared/auto_service'%>-->



    <!--<%= render partial: 'spree/shared/auto_store'%>-->
    <!--<%= render partial: 'spree/shared/navigation_menu' %>-->
    <!--<div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
    </div>-->

    <div class="container wrapper-content">
      <div class="row" data-hook>

        <%= breadcrumbs(@taxon) %>

        <%= render partial: 'spree/shared/categories'%>

        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>

    <%= render partial: 'spree/shared/maps'%>

    <%= render partial: 'spree/shared/advertisement'%>
    <%= render partial: 'spree/shared/footer'%>
  </body>
</html>
