<div data-hook="admin_country_form_fields">
  <div data-hook="name" class="form-group">
    <%= f.label :name, Spree.t(:partner_name) %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div data-hook="name" class="form-group">
    <%= f.label :api_url, I18n.t('partner.api_url') %>
    <%= f.text_field :api_url, :class => 'form-control' %>
  </div>

  <div data-hook="name" class="form-group">
    <%= f.label :percents, I18n.t('partner.percents') %>
    <%= f.text_field :percents, :class => 'form-control' %>
  </div>

  <div data-hook="name" class="form-group">
    <%= f.label :api_login, I18n.t('partner.login') %>
    <%= f.text_field :api_login, :class => 'form-control' %>
  </div>

  <div data-hook="name" class="form-group">
    <%= f.label :api_pass, I18n.t('partner.pass') %>
    <%= f.text_field :api_pass, :class => 'form-control' %>
  </div>

  <div data-hook="name" class="form-group">
    <%= f.label :partner_stock_id, I18n.t('partner.store') %>
    <%= f.text_field :partner_stock_id, :class => 'form-control' %>
  </div>

  <div data-hook="name" class="form-group">
    <%= f.label :base_stock_id, I18n.t('partner.base_store') %>
    <%= f.text_field :base_stock_id, :class => 'form-control' %>
  </div>

</div>
